@font-face {
    font-family: Nonserif;
    src: url(fonts/Nonserif.ttf);
}

@font-face {
    font-family: Roman;
    src: url(fonts/RomanSerif.ttf);
}

@font-face {
    font-family: Sono;
    src: url(fonts/Sono-Regular.woff2);
}

@font-face {
    font-family: IMFell;
    src: url(fonts/FeDPrm2.ttf);
}

@font-face {
    font-family: IMFellFrench;
    src: url(fonts/FeFCrm2.ttf);
}

@font-face {
    font-family: HanSerif;
    src: url(fonts/SourceHanSerifSC-Regular.otf);
}

body {
    color: #36013e;
    font-family: 'Roman', 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: justify;
    line-height: 125%;
    background-color: rgb(248, 246, 243);
}


h1 {
    font-family: 'Sono', 'Courier New', Courier, monospace;  
    font-size: 3em;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Sono', 'Courier New', Courier, monospace; 
}

a {
    color: #36013e;
}

a:hover {
  font-weight: 600;  
  text-shadow: 2px 2px 10px #adadad, 3px 3px 10px rgb(230, 243, 255);
}

pre {
  font-family: 'Roman', 'Times New Roman', Times, serif;
  font-size: 1.15rem;
}

img {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.shadowfilter {
    -webkit-filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.5));
}


.navitem {
  font-family: 'Sono', 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.table {
  font-size: 0.9em;
  color: #36013e;
}

.table>:not(caption)>*>* {
  background-color: transparent;
}

.container {
  padding: 5%;
}

.subhead {
  letter-spacing: 1.1ch;
}

.details {
  font-family: 'Sono', 'Courier New', Courier, monospace;
  font-size: 0.75em;
  letter-spacing: -0.1ch;
}

.accordion-button {
    font-size: 1rem;
    color: #36013e;
    font-family: 'Roman', 'Times New Roman', Times, serif;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #36013e; 
}

#typing-text {
  font-size: 0.8em;
}

#typing-text::after {
  content: '|';
  display: inline;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}



@media only screen and (max-width: 600px) {
    
    body {
        font-size: 1.3em;
    }

  }


/* redo side menu using setup for kyatos.com*/